<!doctype html>

<html>
<head>
  <title>CSS Styleguide</title>
  <meta charset="utf-8">
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="stylesheet" href="../css/main.css?v=1.0">
</head>
<body>

<!-- ####################################################################### -->
<div class="bgc--primary c--text-inverse @@headerClass">
<div class="l-container-default container-fluid">

<div class="row middle-xs">
  <div class="col-xs-12">
    <h1 class="mb0 pb0">CSS Styleguide: @@name</h1>  
  </div>
  </div>
</div> <!-- row -->

</div> <!-- container-type -->  
</div> <!-- container-color -->  


<!-- ####################################################################### -->
<div class="bgc--muted @@headerClass">
<div class="l-container-default container-fluid">
<div class="row">

  <div class="col-md-12 col-xs-12">

    <a href="__index__.html">Basic elements</a> | 
    <a href="layout.html">LAYOUT</a>

  </div>
</div> <!-- row -->
</div> <!-- sxc-type container -->  
</div> <!-- sxc-color -->  

