<!-- ####################################################################### -->
<div class="l-container-default container-fluid">
<div class="row">
  <div class="col-xs-12">
    <h2>Button</h2>  
    <a class="c-btn c-btn--primary c-transition" href="">c-btn--primary</a>
    <button class="c-btn c-btn--muted c-transition" href="">c-btn--muted</button>
    <a class="c-btn c-btn--primary-outline c-transition" href="">c-btn--primary-outline</a>
  </div>
</div> <!-- row -->
</div> <!-- container-type -->  
